Presentacion/Connected Services/ServiceReference/Ges_OperativaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FW_Una_consulta_solicitud_clientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="__a" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FW_Una_consulta_solicitud_clientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FW_Una_consulta_solicitud_clientesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FW_Una_Add_Clientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="__a" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FW_Una_Add_ClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FW_Una_Add_ClientesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FW_Una_Add_Bono">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="__a" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FW_Una_Add_BonoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FW_Una_Add_BonoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>